@model Models.Section

@{
    ViewBag.Title = Model.Id == 0 ? "New section" : "Edit section";
}

@using (Html.BeginForm("Edit", "Section", FormMethod.Post, new {enctype = "multipart/form-data"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Timestamp)

    <fieldset>
        <legend>Section</legend>

        @Html.EditorFor(model => model.Title)  
        @if (Model.Id != 0 && !string.IsNullOrEmpty(Model.ImageId))
        {
            <img width="24" height="24" alt="@Model.Title" src="@Url.Action("GetAvatar", "Section",
                                                                            new {id = Model.Id})" class="img-circle" />
        }  
        
        <p>
            Section avatar: 
            <button id="btn" class="btn btn-success">Choose avatar</button>
            <input id="avatar" type="file" name="avatar" style="display: none" />
            <span id="avatar-name"></span>
        </p>
        <p>
            <input type="submit" value="@(Model.Id == 0 ? "Create" : "Edit")" class="btn btn-primary" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Action("List")"><i class="icon-backward" style="padding-right: 10px"></i>Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/Section/Edit.js">
        

    </script>
}
