@model IEnumerable<Mvc.ViewModels.SectionViewModel>

@{
    ViewBag.Title = "Fantastic Forum";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td class="section">
            <img width="24" height="24" alt="@item.Title" src="@Url.Action("GetAvatar", "Section", new {id = item.Id})" class="section-avatar" />
            @Html.ActionLink(@item.Title, "List", "Topic", new {id = item.Id}, new {@class = "section-title"})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Remove", "Remove", new {id = item.Id})
        </td>
    </tr>
}

</table>
