@model IEnumerable<Mvc.ViewModels.SectionViewModel>

@{
    ViewBag.Title = "Fantastic Forum";
}

<div class="new-section-btn">
    @Html.ActionLink("Create New", "Create", "Section", new {@class = "btn btn-primary"})
</div>

@foreach (var item in Model)
{
    <div class="element">
        <div class="element-title">
            <img width="24" height="24" alt="@item.Title" 
                 src="@Url.Action("GetAvatar", "Section", new {id = item.Id})" 
                 class="img-circle" />
            @Html.ActionLink(@item.Title, "List", "Topic", new {sectionId = item.Id}, null)
        </div>
        <div class="edit-btns">
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn-small btn-warning"})
            @Html.ActionLink("Remove", "Remove", new {id = item.Id}, new {@class = "btn-small btn-danger"})
        </div>
    </div>
}