@using Models
@model Models.Topic

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Topic")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.SectionId)

    <fieldset>
        <legend>Topic</legend>

        <div>
            @Html.LabelFor(model => model.Title)
        </div>
        <div>
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div>
            @Html.EditorFor(model => new Record().Text, null, ".Records[0].Text")
            @Html.ValidationMessage(".Records[0].Text")
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
