<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div>
                <img id="logo" src="~/Images/logo.jpg" height="50"/>             
            </div>
        </header>
        <div id="content-wrapper">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Fantastic Forum</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
