@using Models
@using Mvc.Filters
@{
    var user = (User as UserIndentity).User;
}


@if (user != null)
{
    <p>
        @using (@Html.BeginForm("Add", "Record"))
        {
            @Html.Hidden("sectionId", ((int) ViewBag.SectionId).ToString())
            @Html.Hidden("topicId",   ((int) ViewBag.TopicId).ToString())

            @Html.TextArea("text")<br />
            <input type="submit" value="Add record"/>
        }
    </p>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
