@using Models
@using Mvc.Filters
@using Mvc.ViewModels
@model Mvc.ViewModels.RecordsViewModel
@{
    var user = (User as UserIndentity).User;
}


@if (user != null)
{
    <p>
        @using (@Html.BeginForm("Add", "Record"))
        {
            @Html.Hidden("sectionId", Model.SectionId)
            @Html.Hidden("topicId",   Model.TopicId)

            @Html.EditorFor(_ => new RecordViewModel().Text, null, "text")<br />
            @Html.ValidationMessage("text")<br />
            <input type="submit" value="Add record"/>
        }
    </p>
}
