@model Mvc.ViewModels.RecordViewModel

<div class="table-row">
    <div class="table-cell-user">
        @Model.UserEmail<br/>
        <img width="24" height="24" alt="@Model.UserEmail" src="@Url.Action("GetAvatar", "Account", new {id = @Model.UserId})" />
    </div>
    <div class="table-cell-record">
        @{
            if (User.Identity.Name == Model.UserEmail)
            {
                <div class="record-edit">
                    @Html.ActionLink("Edit", "Edit", "Record", new {id = Model.Id,}, null) | 
                    @Html.ActionLink("Delete", "Delete", "Record", new {id = Model.Id}, null)
                </div>
            }
        }
        @Model.CreationDate.ToUniversalTime()<br/>
        @Html.Raw(Model.EncodedText)
    </div>
</div>