@using Mvc.Filters
@model Models.Record

<div class="table-row">
    <div class="table-cell-user">
        @Model.User.Email<br/>
        <img width="24" height="24" alt="@Model.User.Email" src="@Url.Action("GetAvatar", "Account", new {id = @Model.User.Id})" />
    </div>
    <div class="table-cell-record">
        @{
            var user = (User as UserIndentity).User;
            if (user != null && user.Id == Model.UserId)
            {
                <div class="record-edit">
                    @Html.ActionLink("Edit", "Edit", "Record", new {id = Model.Id,}, null) | 
                    @Html.ActionLink("Delete", "Delete", "Record", new {id = Model.Id}, null)
                </div>
            }
        }
        @Model.CreationDate.ToUniversalTime()<br/>
        @Model.Text        
    </div>
</div>